.buy__btn a:hover {
    color: inherit;
}

@media screen and (max-width: 992px) {
    .hero__content h2 {
        font-size: 2rem;
    }
    .section__title {
        font-size: 2rem;
    }
    .counter__img {
        display: none;
    }
    .clock__top-content {
        text-align: center;
    }
    .clock__top-content h4 {
        font-size: 0.9rem !important;
    }
    .clock__top-content h3 {
        font-size: 1rem !important;
    }
    .count__down-col {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .hero__content h2 {
        font-size: 1.6rem;
    }
    .hero__content p {
        font-size: 0.9rem;
    }
    .buy__btn {
        font-size: .9rem;
    }
    .section__title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 576px) {
    .hero__content {
        padding-top: 0;
        margin-bottom: 40px;
    }
}

