@media screen and (max-width: 992px) {
    .service__item span i {
        font-size: 1.8rem;
        padding: 5px;
    }
    .service__item h3 {
        font-size: 1rem;
    }
    .service__item {
        padding: 10px;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .service__item span i {
        font-size: 1.5rem;
        padding: 5px;
    }
}

@media screen and (max-width: 576px) {
    .service__item {
        padding: 20px;
    }
}
